@import "./colors.scss";

.AboutUs {
    display: grid;
    // border: 5px green solid;
    // background-color: $back_color;
    grid-template-columns: 1fr;
    margin-top: 5em;

    &__title {
        display: grid;
        padding-top: 2em;
        justify-content: center;
    }

    &__text {
        display: grid;
        font-size: 1.3em;
        margin-left: 8em;
        margin-right: 8em;
        justify-content: center;
    }


}

.Container__CardTech {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-top: 2em;
    padding-bottom: 3em;
    margin-top: 3em;

    &__image {
        display: grid;
        justify-self: center;
        max-width: 60%;

        &:hover {
            max-width: 90%;
        }
    }
}

.card {
    display: grid;
    justify-items: center;
}

.AboutUs__tecnologias img {
    max-width: 60%;

    &:hover {
        max-width: 90%;
    }
}