@import "./colors.scss";

.AboutUs {
    display: grid;
    // border: 5px green solid;
    background-color: $back_color;
    grid-template-columns: 1fr;

    &__title {
        display: grid;
        padding-top: 2em;
        justify-content: center;
    }

    &__text {
        display: grid;
        font-size: 1.3em;
        margin-left: 8em;
        margin-right: 8em;
        justify-content: center;
    }

    &__tecnologias {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        justify-content: center;
        padding-top: 2em;
        padding-bottom: 3em;

        &__containerImg {
            display: grid;
            justify-items: center;
        }
    }
}

.AboutUs__tecnologias img {
    max-width: 60%;

    &:hover {
        max-width: 90%;
    }
}